.notice{
    color: red;
    font-weight: bold;
    padding: 2px 6px;
    border: 1px solid ;
    border-radius: 20px;
    margin-left: 10px;
}

.product-item{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}